<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="clean_generation" xsi:type="object">TestPlugin\Cli\Model\Generation</item>
            </argument>
        </arguments>
    </type>
        <type name="TestPlugin\Cli\Model\Generation">
            <plugin name="TestPlugin_Cli" type="TestPlugin\Cli\Plugin\Generation" sortOrder="10" disabled="false"  />
        </type>
</config>
